<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servleti.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet2</servlet-name>
        <servlet-class>servleti.loginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pregledServlet</servlet-name>
        <servlet-class>servleti.pregledServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaServlet</servlet-name>
        <servlet-class>servleti.IzmenaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeServlet</servlet-name>
        <servlet-class>servleti.BrisanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServletKontroler</servlet-name>
        <servlet-class>servleti.loginServletKontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProizvoda</servlet-name>
        <servlet-class>servleti.ListaProizvoda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorpaServletKontroler</servlet-name>
        <servlet-class>servleti.KorpaServletKontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupovinaServlet</servlet-name>
        <servlet-class>servleti.KupovinaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet2</servlet-name>
        <url-pattern>/loginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pregledServlet</servlet-name>
        <url-pattern>/pregledServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaServlet</servlet-name>
        <url-pattern>/IzmenaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeServlet</servlet-name>
        <url-pattern>/BrisanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServletKontroler</servlet-name>
        <url-pattern>/loginServletKontroler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProizvoda</servlet-name>
        <url-pattern>/ListaProizvoda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorpaServletKontroler</servlet-name>
        <url-pattern>/KorpaServletKontroler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupovinaServlet</servlet-name>
        <url-pattern>/KupovinaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <!--   -->
    </welcome-file-list>
</web-app>
